.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 4% 10px;
}
.logo {
  font-family: var(--title-font);
  font-size: 1.75rem;
  font-weight: 300;
}
.mainNavList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}
.mainNavItem {
  font-family: var(--title-font);
  font-size: .8rem;
  font-weight: 300;
  text-transform: capitalize;
}
.mainNavLink:hover {
  opacity: 0.7;
}
.github {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: 0;
    height: 270px;
    padding: 0;
    padding: 0 4%;
  }
  .mainNavList {
    gap: 30px;
  }
  .mainNavItem {
    font-size: .9rem;
  }
}