.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
}
.title {
  text-align: center;
}
.image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}