.sectionMtSm {
  margin-top: 70px;
}
.sectionMt {
  margin-top: 80px;
}
.sectionMtLg {
  margin-top: 90px;
}

@media (min-width: 768px) {
  .sectionMtSm {
    margin-top: 130px;
  }
  .sectionMtLg {
    margin-top: 150px;
  }
}